body {
  font-family: Roboto;
  background: whitesmoke;
  /*   display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around; */

  display: grid;
  /*   grid-template-columns: 1fr; */
  /* RAM - repeat auto-fit minmax   */
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  gap: 1rem;
}

.container {
  background: white;
  width: 15rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.1);
}

.flag {
  width: 100%;
  height: 10rem;
}

.info {
  padding: 1rem;
}

.info span {
  font-weight: bold;
}

/* 15rem  <  column size < 1fr (equal) */

/* @media (min-width: 500px){
  body{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 850px){
  body{
    grid-template-columns: repeat(3, 1fr);
  }
}
 */
/*   grid-template-columns: repeat(3, 1fr); */
/*   grid-template-columns:  1fr 1fr 1fr */

/* x  + y + x = 12 */
/*  y = 2x */
/* x + 2x + x = 12
4x = 12
x = 3, y=6 */

/* col-3 col-6 col-3 */

/* 1fr - fraction unit - ratio */

/* 
:root{
  font-size: 16px;
}  */
/* 1rem = 10px */
/*  10rem = 100px  */

/* 1rem = 16px */
/* 10rem = 160px */
